<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% destinations.forEach(destination => { %>
    <h2><%= destination.title %></h2>
    <div><%= destination.description %></div>
    <img src="<%= destination.image %>" alt="">
  <% }) %>
</body>
</html>